.header {
  font-weight: bold;

}

.main-box {
  display: flex;
}

.list {
  list-style: none;
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.list-of-my-recipes {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.footer {
  font-weight: bold;
}  

img {
  width: 200px;
  height:200px;
}