@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.header {
  font-weight: bold;
  width: 100vw;
}

.header img{
  height: 70vh;
  width: 100vw;
}

.main-box {
  display: block;
}

.list {
  list-style: none;
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.list-of-my-drinks {
  color: black;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footer {
  font-weight: bold;
  text-align: center;
}  

img {
  width: 200px;
  height:200px;
}

.my-drink {
  width: 200px;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

.x-button{
  height: 30px;
}