.header {
  font-weight: bold;

}

.list {
  list-style: none;
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 50vw;
  background-color: lightgray;
}

.list-of-my-recipes {
  list-style: none;
  display: flex;
  background-color: yellow;
  width: 50vw;
}

.footer {
  font-weight: bold;
}